html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
}
body {
	font-family: "Roboto";
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	font-weight: 400;
	background-color: #fff;
	color: #767676;
	overflow: hidden;
}
svg {
	fill: currentcolor;
	width: 15px;
	height: 15px;
}
img.svg {
	width: 15px;
	height: 15px;
}
::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #6f6f6f;
}
:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #6f6f6f;
	opacity: 1;
}
::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #6f6f6f;
	opacity: 1;
}
:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #6f6f6f;
}
::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #6f6f6f;
}

::placeholder {
	/* Most modern browsers support this now. */
	color: #6f6f6f;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding: 0px 40px;
	position: relative;
	clear: both;
	@media screen and (max-width: 767px) {
		padding: 0 15px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.4;
	font-family: "Poppins";
	color: #000;
}

h1 {
	font-size: 45px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
}

.all_wrap {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
}
.all_wrap,
.all_wrap * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}
.section {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 99999;
	display: flex;
}
#preloader:before,
#preloader:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
	background-color: #000;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
#preloader:after {
	left: auto;
	right: 0;
}
#preloader .loader_line {
	margin: auto;
	width: 1px;
	height: 250px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
.loader_line:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 0%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #fff;
	-webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
	-o-animation: lineheight 1000ms ease-in-out 0s forwards;
	animation: lineheight 1000ms ease-in-out 0s forwards;
}
.loader_line:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #999999;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-animation: lineround 1200ms linear 0s infinite;
	-o-animation: lineround 1200ms linear 0s infinite;
	animation: lineround 1200ms linear 0s infinite;
	animation-delay: 2000ms;
}

@keyframes lineheight {
	0% {
		height: 0%;
	}
	100% {
		height: 100%;
	}
}

@keyframes lineround {
	0% {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-o-transform: translateY(200%);
		transform: translateY(200%);
	}
}

/*hiding all*/
.preloaded .loader_line:after {
	opacity: 0;
}
.preloaded .loader_line {
	opacity: 0;
	height: 100% !important;
}
.preloaded:before,
.preloaded:after {
	-webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
	-o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
	animation: preloadedzero 300ms ease-in-out 500ms forwards;
}
@keyframes preloadedzero {
	0% {
		width: 50%;
	}
	100% {
		width: 0%;
	}
}
